
body {
  max-width: 100vw;
  height: 100vh;
  background: #969696;
  position: relative;
}

.container {
  width: 400px;
  height: 400px;
  /* top: 50%;
  left: 50%; */
  border-radius: 5px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 20px #eee;
}

/* !    Buttons-css    */

button {
  background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)
  
}

button {

  border: 0;
  margin: 10px 70px;
  padding: .5rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;

  font-size: 2rem;
  font-weight: 600;
}

button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


